@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------------------------------------header----------------------------------------------- */

.header {
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.heading {
    padding: none;
    margin-left: none;
}

.name {
    font-family: "Barlowcondensed", sans-serif;
    font-size: 50px;
    font-weight: 350;
    margin-top: 20px;
    color: whitesmoke;
}

.topmenu {
    text-align: center;
    position: fixed-top;
}

.row {
    margin: none;
}

.headline {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: whitesmoke;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    text-align: center;
    width: 100%;
}

#nav li {
    font-size: 18px;
    padding: 0;
    width: 100%;
}

.box {
    color: green;
}


/* ---------------------------------------hero----------------------------------------------- */

.hero {
    min-width: 250px;
    min-height: 250px;
    max-width: 500px;
    max-height: 500px;
    /* pretty sure this is going to cause problems on mobile. 
    Might have to look at making the changes with media queries?? */
    border-radius: 50%;
    background: url("../images/IMG_5393.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    /* 2 line snippet below tutorialspoint.com */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%)
}

.hero:hover {
    filter: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    border-radius: 30px;
    background: url("../images/1588435846269.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    margin: auto;
}

/* ---------------------------------------colors----------------------------------------------- */

.bg-color-headline {
    background-color: #ADA5A2;
}

.ui-menu-color-home {
    /* background-color: #B7B096; */
    column-width: 33%;
    /* float: left; */
    color: #ADA5A2;
}

.ui-menu-color-history {
    /* background-color: #A18D71; */
    display: inline-block;
    /* column-width: 33%; */
    color: #ADA5A2;
}

.ui-menu-color-contact {
    /* background-color: #463C37; */
    column-width: 33%;
    /* float: right; */
    color: #ADA5A2;
    text-decoration: none;
}

.ui-menu-color-download {
    /* background-color: #F2EBE0; */
    column-width: 33%;
    /* float: right; */
    text-decoration: none;
}

.menucontainer a {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 220px;
}

.menucontainer {
    background-color: #ADA5A2;
}

.menucontainer a:hover {
    color: black;
}

/* need to check this is working once the links are all in place */
.menucontainer a:active {
    text-decoration: underline;
}

.social-networks i {
    color: #F2EBE0;
}

.page-footer {
    background-color: #ADA5A2;
}

.copyright {
    color: #F2EBE0;
}

/* ---------------------------------------main----------------------------------------------- */

.main {
    position: relative;
}

.main h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #463C37;
    font-size: 48px;
}

.herocontainer {
    text-align: center;
}

.filler {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

/* ---------------------------------------footer----------------------------------------------- */

.footer {
    height: 150px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
}

/* .location-footer {
        text-align: left;
        display: inline;
    }

    .contact-footer {
        float: right;
    } */

.page-footer {
    margin: 1px;
}

.copyright {
    margin-bottom: 10px;
}

/* ---------------------------------------history----------------------------------------------- */
.historysubhead {
    text-align: center;
    padding-bottom: 10px;
}

.timeline {
    float: left;
}

.skills {
    float: right;
}

/* ---------------------------------------contact----------------------------------------------- */

.contactbackground {
    background-image: url("../images/Untitled.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 1px;
    filter: grayscale(65%);
}

.contactmain {
    position: relative;
    margin-bottom: 10px;
}

.contactmain h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #463C37;
    font-size: 48px;
    padding: 10px;
}

.contactsubhead {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #463C37;
    font-size: 36px;
    padding: 50px;
    }

.contactme h3 {
    font-size: 20px;
    text-align: center;
}

.contactme p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

/* ------------------------------------contactform----------------------------------------------- */

.formcontainer {
    position: relative;
    padding-top: 10px;
}

/* ------------------------------------history - skills----------------------------------------------- */

.nav-tabs a {
    padding: 10px;
    color: black;
}

/* ------------------------------------history - timeline----------------------------------------------- */


.timeline {
    /* border-left: 1px solid hsl(0, 0%, 90%); */
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

/* ------------------------------------collapseable----------------------------------------------- */


input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #463C37;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    /* background: rgba(0, 105, 255, .2); */
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}


